{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "plugins": ["@typescript-eslint"],
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended"
  ],
  "rules": {
    "@typescript-eslint/no-explicit-any": "error",
    "no-const-assign": "error",
    "no-var": "error",
    "eqeqeq": ["error", "smart"],
    "no-duplicate-imports": ["error", { "includeExports": true }]
  }
}
